<mat-card>
  <mat-card-header>
    <mat-card-title-group>
      <mat-card-title *ngIf="!editName">
        {{list.name}}
      </mat-card-title>
      <input *ngIf="editName" [(ngModel)]="name"/>
    </mat-card-title-group>
    <div fxFlex></div>
    <button *ngIf="!editName" mat-icon-button (click)="startRenameList()">
     <mat-icon>edit</mat-icon>
    </button>
    <button *ngIf="editName" mat-icon-button (click)="renameList(name)">
     <mat-icon>done</mat-icon>
    </button>
    <button mat-icon-button (click)="removeList.emit()">
     <mat-icon>delete</mat-icon>
    </button>
  </mat-card-header>
  <mat-card-content>
    <app-todo
      *ngFor="let todo of list.todos|keyvalue"
      [todo]="todo.value"
    ></app-todo>
  </mat-card-content>
  <mat-card-actions fxLayoutAlign="space-between center">
    <input matInput placeholder="New todo text" #newTodo (keyup.enter)="onAddTodo(newTodo.value); newTodo.value='';"/>
    <button mat-stroked-button (click)="onAddTodo(newTodo.value); newTodo.value='';" [disabled]="newTodo.value.length<1">Add</button>
  </mat-card-actions>
</mat-card>
